<div data-ng-init="init()">

    <div id="divProviders" class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">{{description}}</h2>
            </div>
            <div class="panel-body">
                <div class="row">

					<table class="table table-hover">
						<tr>
							<th>
								Description
							</th>
							<th>
								ioType
							</th>
							<th>
								IpAddress
							</th>
							<th>
								Port
							</th>
							<th>
								Enabled
							</th>
						</tr>
						<tr ng-repeat="x in io" ng-click="selectTable(x,'edit')">
							<td>{{ x.description }}</td>
							<td>{{ x.ioType }}</td>
							<td>{{ x.ipAddress }}</td>
							<td>{{ x.port }}</td>
							<td>{{ x.enabled }}</td>
							<td><input type="button" class="btn btn-default" ng-click="ioDelete(x,'delete')" value="X"></input></td>
						</tr>
					</table>
                </div>
                <hr/>
	            <div class="form-group">
	            	<label for="Description">Description:</label>
	            	<input id="Description" class="form-control" ng-model="selecteddescription"></input>
	            	<label for="ioType">ioType:</label>
					<select ng-model="selectedioType" class="form-control">
						<option value="TCP-MODMUX-DIO8">TCP-MODMUX-DIO8</option>
						<option value="TCP-MODMUX-AI8">TCP-MODMUX-AI8</option>
						<option value="GAR-FEP">GAR-FEP</option>
					</select>
	            	<label for="ipAddress">ipAddress:</label>
	            	<input id="ipAddress" class="form-control" ng-model="selectedipAddress"></input>

	            	<label for="port">Port:</label>
	            	<input id="port" class="form-control" ng-model="selectedport"></input>
					<label class="checkbox-inline"><input type="checkbox" ng-model="selectedenabled">Enabled</label>	            	
					<div>
						<hr/>
		            	<input type="button" class="btn btn-default" value="Add" ng-click="ioAdd()"></input>
		            	<input type="button" class="btn btn-default" value="Update" ng-click="ioUpdate()"></input>
		            	<input type="button" class="btn btn-default" value="Cancel" ng-click="init()"></input>
					</div>
	            </div>
            </div>
        </div>




        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Control</h2>
            </div>
            <div class="panel-body">
                <div class="row">

					<table class="table table-hover">
						<tr>
							<th>
								Description
							</th>
							<th>
								controlType
							</th>
						</tr>
						<tr ng-repeat="x in control" ng-click="selectControlTable(x,'edit')">
							<td>{{ x.description }}</td>
							<td>{{ x.controlType }}</td>
							<td><input type="button" class="btn btn-default" ng-click="controlDelete(x,'delete')" value="X"></input></td>
						</tr>
					</table>
                </div>
                <hr/>
	            <div class="form-group">
	            	<img src="./assets/img/ResPump.png">
	            	<br/>
	            	<label for="selectedControlDescription">Description:</label>
	            	<input id="selectedControlDescription" class="form-control" ng-model="selectedControlDescription"></input>
	            	<label for="selectedControlType">controlType:</label>
					<select ng-model="selectedControlType" class="form-control">
						<option value="reservoir">reservoir</option>
						<option value="sewagesump">sewagesump</option>
						<option value="other">other</option>
					</select>
					<h4>Setpoints</h4>
					<hr/>
	            	<label for="selectedControlSPLow">low:</label>
	            	<input id="selectedControlSPLow" class="form-control" ng-model="selectedControlSPLow"></input>
	            	<label for="selectedControlSPHi">hi:</label>
	            	<input id="selectedControlSPHi" class="form-control" ng-model="selectedControlSPHi"></input>
	            	<label for="selectedControlSPSourceIO">SourceIO:</label>
	            	<input id="selectedControlSPSourceIO" class="form-control" ng-model="selectedControlSPSourceIO"></input>
	            	<label for="selectedControlSPIO">IO:</label>
	            	<input id="selectedControlSPIO" class="form-control" ng-model="selectedControlSPIO"></input>
					<label class="checkbox-inline"><input type="checkbox" ng-model="selectedControlEnabled">Enabled</label>	            	

					<h4>msgOutSetPointLow</h4>
					<hr/>
	            	<label for="selectedControlMsgOutSPLowSourceAddress">Source Address:</label>
	            	<input id="selectedControlMsgOutSPLowSourceAddress" class="form-control" ng-model="selectedControlMsgOutSPLowSourceAddress"></input>
	            	<label for="selectedControlMsgOutSPLowDestinationAddress">Destination Address:</label>
	            	<input id="selectedControlMsgOutSPLowDestinationAddress" class="form-control" ng-model="selectedControlMsgOutSPLowDestinationAddress"></input>
	            	<label for="selectedControlMsgOutSPLowDestinationIO">Destination IO:</label>
	            	<input id="selectedControlMsgOutSPLowDestinationIO" class="form-control" ng-model="selectedControlMsgOutSPLowDestinationIO"></input>
	            	<label for="selectedControlMsgOutSPLowIO">IO (ie: digOut):</label>
	            	<input id="selectedControlMsgOutSPLowIO" class="form-control" ng-model="selectedControlMsgOutSPLowIO"></input>
	            	<label for="selectedControlMsgOutSPLowWriteMask">Write Mask:</label>
	            	<input id="selectedControlMsgOutSPLowWriteMask" class="form-control" ng-model="selectedControlMsgOutSPLowWriteMask"></input>
	            	<label for="selectedControlMsgOutSPLowWriteValue">Write Value:</label>
	            	<input id="selectedControlMsgOutSPLowWriteValue" class="form-control" ng-model="selectedControlMsgOutSPLowWriteValue"></input>


					<h4>msgOutSetPointHi</h4>
					<hr/>
	            	<label for="selectedControlMsgOutSPHiSourceAddress">Source Address:</label>
	            	<input id="selectedControlMsgOutSPHiSourceAddress" class="form-control" ng-model="selectedControlMsgOutSPHiSourceAddress"></input>
	            	<label for="selectedControlMsgOutSPHiDestinationAddress">Destination Address:</label>
	            	<input id="selectedControlMsgOutSPHiDestinationAddress" class="form-control" ng-model="selectedControlMsgOutSPHiDestinationAddress"></input>
	            	<label for="selectedControlMsgOutSPHiDestinationIO">Destination IO:</label>
	            	<input id="selectedControlMsgOutSPHiDestinationIO" class="form-control" ng-model="selectedControlMsgOutSPHiDestinationIO"></input>
	            	<label for="selectedControlMsgOutSPHiIO">IO (ie: digOut):</label>
	            	<input id="selectedControlMsgOutSPHiIO" class="form-control" ng-model="selectedControlMsgOutSPHiIO"></input>
	            	<label for="selectedControlMsgOutSPHiWriteMask">Write Mask:</label>
	            	<input id="selectedControlMsgOutSPHiWriteMask" class="form-control" ng-model="selectedControlMsgOutSPHiWriteMask"></input>
	            	<label for="selectedControlMsgOutSPHiWriteValue">Write Value:</label>
	            	<input id="selectedControlMsgOutSPHiWriteValue" class="form-control" ng-model="selectedControlMsgOutSPHiWriteValue"></input>

					<div>
						<hr/>
		            	<input type="button" class="btn btn-default" value="Add" ng-click="controlAdd()"></input>
		            	<input type="button" class="btn btn-default" value="Update" ng-click="controlUpdate()"></input>
		            	<input type="button" class="btn btn-default" value="Cancel" ng-click="init()"></input>
					</div>
	            </div>
            </div>
        </div>




        <div>
        	<input type="button" class="btn btn-warning" value="SAVE" ng-click="save()"></input>
        </div>

    </div>


<!-- 	<ul>
	  <li ng-repeat="x	in io">
	    {{ x.description }}
	  </li>
	</ul>	
 -->
 </div>
