

<div>
	homeView
	<br/>
	address:
	<input type="text" ng-model="address"></input>
	Sub address:
	<input type="text" ng-model="subAddress"></input>

	<input type="button" ng-click="getRTUStatuses()" value="readIO 1"></input>
	<div>
	  <ul>
	    <li ng-repeat="item in rtuData.io.io">
	      {{ item.data }} - {{item.ioType}}
	    </li>
	  </ul>
	</div>
</div>

<div>
	<input type="button" ng-click="controlIO()" value="controlIO"></input>
	<input type="text" ng-model="valueToWrite"></input>
	
</div>
<div>
	<!-- <input type="button" ng-click="controlGate()" value="Gate"></input> -->
	<img src="{{gateImg}}" ng-click="controlGate()">
</div>